<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kewl Skewl!</title>
  </head>
  <body>
    <h1>Kewl Skewl</h1>
    <%= yield %>
    <br>
    <a href="/">KewlSkewl Homepage</a><br><br>
    <a href="/courses">All Courses</a>&nbsp;&nbsp;&nbsp;
    <a href="/courses/new">Create New Course</a><br><br>
    <a href="/students">All Students</a>&nbsp;&nbsp;
    <a href="/students/new">Create New Student Account</a>

  </body>
</html>

